<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container mb-4 border-bottom">
      <a href="/" class="navbar-brand fs-1 fw-bolder">
        <img src="/assets/img/SwolfPy-Icon.png" hight="55" width="55" class="d-inline-block align-top me-1" alt="Swolfpy Icon">SwolfPy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fs-5" id="navbarText">
        <div class="navbar-nav ms-auto">
          <a class="nav-item nav-link text-primary" href="{{ site.baseurl }}/">Home</a>
          <a class="nav-item nav-link text-primary" href="{{ site.baseurl }}/models">Models</a>
          <a class="nav-item nav-link text-primary" href="{{ site.baseurl }}/people">People</a>
          <a class="nav-item nav-link text-primary" href="{{ site.baseurl }}/publications">Publications</a>
          <a class="nav-item nav-link text-primary" href="https://swolfpy.readthedocs.io/en/latest/" target="_blank">Documentation</a>
          <a class="nav-item nav-link text-primary" href="https://pypi.org/project/swolfpy/" target="_blank">Installation</a>
          <a class="nav-item nav-link text-primary" href="{{ site.baseurl }}/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>
